<% # Meta information for the <head> section %>
<% title @post.title %>
<% meta_tag :description, @post.body.truncate(150) %>
<% meta_tag :keywords, @post.title.split.join(',') %>

<main class="container">
  <div class="row">
    <div class="post-show-blog">
      <h1 class="title-font font-italic"><%= @post.title %></h1>
      <p><%= raw @post.body %></p>
      <%= link_to "Show comments", post_path(@post), class: "comments#{@post.id}", remote: true %>
      <p class="text-muted"><%= @post.comments.size %> comments</p>
      <div class="comments-display<%=@post.id%>"></div>
    </div>
  </div>

  <% if current_user %>
    <%= render 'comments/form', comment: Comment.new, post: @post %>
  <% else %>
    <h4 class="comment-notes font-italic">Please sign up to comment</h4><br>
  <% end %>
</main>
